* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url('./Images/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00MjgtMDAzMC1qb2I1OTguanBn.webp');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.content container {
  width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-top: 150px;
}

#expense-from {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}

#expense-from input {
  height: 6vh;
  padding: 8px;
  font-size: 20px;
  font-weight: lighter;
  box-shadow: 2px 2px 3px black;
}

#expense-from input:hover {
  font-weight: bold;
  border: none;
  box-shadow: 2px 2px 0px gray;
  transition: 0.5s ease;
}

#expense-from button {
  font-size: 18px;
  width: fit-content;
  margin: auto;
  padding: 10px;
  font-weight: lighter;
  border: none;
  background: #000;
  color: white;
  box-shadow: 0px 0px 4px gray;
}

#expense-from button:hover {
  background: white;
  color: black;
  font-weight: bolder;
  width: 200px;
  transition: 0.5s ease;
}

@media (max-width: 548px) {
  #expense-from {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    transition: 0.5s ease;
  }

  #expense-from input {
    height: 6vh;
    padding: 6px;
    font-size: 17px;
    font-weight: lighter;
    box-shadow: 2px 2px 3px black;
    transition: 0.5s ease;
  }

  #expense-from button {
    font-size: 16px;
    width: fit-content;
    margin: auto;
    padding: 8px;
    font-weight: lighter;
    border: none;
    background: #000;
    color: white;
    box-shadow: 0px 0px 4px gray;
    transition: 0.5s ease;
  }
}

@media (max-width: 483px) {
  h1 {
    font-size: 25px;
    transition: 0.5s ease;
  }

  #expense-from {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    transition: 0.5s ease;
  }

  #expense-from button {
    font-size: 14px;
    width: fit-content;
    margin: auto;
    padding: 6px;
    font-weight: lighter;
    border: none;
    background: #000;
    color: white;
    box-shadow: 0px 0px 4px gray;
    transition: 0.5s ease;
  }
}

@media (max-width: 383px) {
  h1 {
    font-size: 22px;
    transition: 0.5s ease;
  }

  #expense-from {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    transition: 0.5s ease;
  }

  #expense-from button {
    font-size: 14px;
    width: fit-content;
    margin: auto;
    padding: 5px;
    font-weight: lighter;
    border: none;
    background: #000;
    color: white;
    box-shadow: 0px 0px 4px gray;
    transition: 0.5s ease;
  }
}

@media (max-width: 383px) {
  h1 {
    font-size: 19px;
    transition: 0.5s ease;
  }

  #expense-from {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    transition: 0.5s ease;
  }

  #expense-from input {
    height: 6vh;
    padding: 6px;
    font-size: 15px;
    font-weight: lighter;
    box-shadow: 2px 2px 3px black;
    transition: 0.5s ease;
  }

  #expense-from button {
    font-size: 13px;
    width: fit-content;
    margin: auto;
    padding: 4px;
    font-weight: lighter;
    border: none;
    background: #000;
    color: white;
    box-shadow: 0px 0px 4px gray;
    transition: 0.5s ease;
  }
}

@media (max-width: 303px) {
  h1 {
    font-size: 16px;
    transition: 0.5s ease;
  }

  #expense-from {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    transition: 0.5s ease;
  }

  #expense-from input {
    height: 6vh;
    padding: 6px;
    font-size: 10px;
    font-weight: lighter;
    box-shadow: 2px 2px 3px black;
    transition: 0.5s ease;
  }

  #expense-from button {
    font-size: 12px;
    width: fit-content;
    margin: auto;
    padding: 4px;
    font-weight: lighter;
    border: none;
    background: #000;
    color: white;
    box-shadow: 0px 0px 4px gray;
    transition: 0.5s ease;
  }
}

@media (max-width: 277px) {
  h1 {
    font-size: 15px;
    transition: 0.7s ease;
  }

  #expense-from {
    width: 230px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    transition: 0.7s ease;
  }

  #expense-from input {
    height: 6vh;
    padding: 6px;
    font-size: 10px;
    font-weight: lighter;
    box-shadow: 2px 2px 3px black;
    transition: 0.7s ease;
  }

  #expense-from button {
    font-size: 11px;
    width: fit-content;
    margin: auto;
    padding: 4px;
    font-weight: lighter;
    border: none;
    background: #000;
    color: white;
    box-shadow: 0px 0px 4px gray;
    transition: 0.5s ease;
  }
}

/* ., List Section */

.list-section {
  width: auto;
  padding: 5px;
  margin: 0px 15px;
  margin-top: 30px;
  transition: 0.6s ease-in;
  box-shadow: 3px 3px 5px black;
  display: none;
}

.list-navbar-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px 10px;
  margin: 9px 9px;
  box-shadow: 1px 1px 4px black;
}

@media (max-width: 388px) {
  .list-navbar-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px 5px;
    margin: 5px 5px;
    box-shadow: 1px 1px 4px black;
  }
}

.list-navbar-section h4 {
  font-size: 23px;
  margin-bottom: 5px;
}

.list-navbar-section ul li {
  font-size: 20px;
  
}

.totalprice-section {
  margin-top: 5px;
  padding: 8px;
  text-align: center;
  font-size: 23px;
}



ul li {
  list-style: none;
}

.empty-all-button {
  display: flex;
  justify-content: end;
  padding: 5px;
}

.empty-all-button button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.empty-all-button button:hover {
  background-color: darkred;
}

.editBut {
  padding: 5px;
  margin-top: 2px;
  background: #000;
  color: white;
}

.editBut:hover {
  padding: 5px;
  margin-top: 2px;
  background: #000;
  color: white;
  box-shadow: 1px 1px 1px black;
  font-weight: bolder;
  transition: 0.2s ease;
}

.expense-type h4 {
  margin-left: 75px;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.deleteButton:hover {
  background-color: darkred;
}

/* ., Navbar Section */
navbar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  text-align: center;
  padding: 10px;
}

.logo-section-home {
  margin-right: 10px;
  position: fixed;
  padding: 3px;
  transition: 0.3s ease;
}

.logo-section-home:hover{
  box-shadow: 1px 1px 3px gray;
  transition: 0.2s ease;
}

.logo-section-home img {
  height: 55px;
}

.logo-section-home img:hover {
box-shadow: 3px 3px 4px black;
transition: 0.2s ease;
}

.detail-list {
  display: none;
  transition: 0.3s ease;
  width: auto;
  padding: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.detail-listh3 {
  font-size: 22px;
  font-weight: bolder;
  margin-top: 3px;
  transition: 0.3s ease;
}

.detail-listh3:hover {
  background: gainsboro;
  transition: 0.2s ease;
  cursor: pointer;
}

.detail-listh4 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 3px;
}

.detail-listh4:hover {
  background: gainsboro;
  transition: 0.2s ease;
  cursor: pointer;
}

.detail-list-button {
  padding: 5px;
  background: #000;
  margin-top: 3px;
  width: 100%;
  color: white;
  border: 4px solid black;
}

.detail-list-button:active{
  border: 6px solid white;
}

.detail-list-button:hover{
  background: white;
  color: black;
  border: 1px solid black;
  transition: 0.2s ease;
  font-weight: bolder;
}

#total-expense:hover{
  text-shadow: 0px 0px 2px black;
  cursor: pointer;
}

.edBut{
  background: red;
}