* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#form {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin: auto;
  border: 1px solid gray;
  padding: 10px;
  box-shadow: 2px 2px 4px black;
  margin-top: 30px;
}

#form label {
  font-size: 30px;
  margin-bottom: -2%;
}

#form input {
  height: 5vh;
  font-size: 25px;
  padding: 10px;
  box-shadow: 2px 2px 3px gray;
  border: 1px solid gainsboro;
}

#form-button {
  font-size: 22px;
  margin: auto;
  padding: 5px;
  border: none;
  background: black;
  color: white;
  box-shadow: 0px 0px 3px black;
}

#form-button:hover {
  box-shadow: 0px 0px 7px green;
  transition: 0.3s ease;
}

#form h3 {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 60px;
}

@media (max-width: 520px) {
  #form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: auto;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 2px 2px 4px black;
    margin-top: 30px;
    transition: 0.7s ease;
  }

  h1 {
    font-size: 40px;
  }
}

@media (max-width: 440px) {
  #form {
    width: 310px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin: auto;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 2px 2px 4px black;
    margin-top: 30px;
    transition: 0.7s ease;
  }

  h1 {
    font-size: 30px;
  }
}

@media (max-width: 310px) {
  #form {
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin: auto;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 2px 2px 4px black;
    margin-top: 30px;
    transition: 0.7s ease;
  }
}

@media (max-width: 270px) {
  #form {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin: auto;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 2px 2px 4px black;
    margin-top: 30px;
    transition: 0.7s ease;
  }
}

/* .google-button{
  display: flex;
  margin-top: 20px;
  justify-content: center;
} */

.google-button{
  display: flex;
  justify-content: center;
  margin:20px auto;
  border: none;
  width: fit-content;
  align-items: center;
  box-shadow: 1px 1px 1px 1px gray;
}

.google-button:hover{
  background: rgba(0, 0, 255, 0.658);
  transition: 0.5s ease;
}

.google-button img {
  width: 30px;
  height: 30px;
}

#google-button{
  font-size: 17px;
  border: none;
  background: white;
  border: none;
  font-weight: 400;
}

#google-button:hover{
  color: blue;
  transition: 0.5s ease;
}

.button {
  display: flex;
  background-color: rgb(24, 23, 23);
  color: #ffffff;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: .6s ease;
}

.button svg {
  height: 30px;
}

.button:hover {
  box-shadow: none;
}
